# Project local artifacts
/.artifacts/
/.notes
/.temp/

.~
*~
*.tmp
Debug
*.o
*.d
*.deb
tmp
.codelite
v8unpack.txt
*.workspace
Makefile
*.mk
/*.depend
/*.layout
/obj
/bin
gmon.out
/build
/dist
/test/local-fixtures/
.vs/
CMakeUserPresets.json

cmake-build-*/*
.idea/*
